################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuilgoConsoleTestApp/v17/TestStore/0
/.vs/QuilgoConsoleTestApp/v17/.suo
/.vs/QuilgoConsoleTestApp/FileContentIndex
